@use "./variables";

.aboutMeArticle {
    img {
        border-radius: 50%;
        margin: auto;
        display: block;
        height: 150px;
        width: 150px;
    }
    h2 {
        font-family: variables.$headingFont;
        text-align: center;
        padding-top: 20px;
        font-size: 40px;
        padding-bottom: 20px;
    }
    p {
        text-align: center;
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
        font-family: variables.$paragraphFont;
        font-weight: 400;
    }
}