@use "./variables";

.contactArticle {
    background-color: variables.$lightGreen;
    padding-bottom: 30px;
    h2 {
        font-size: 40px;
        font-family: variables.$headingFont;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 10px;
    }
    ul {
        display: flex;
        justify-content: center;
        li {
            padding: 15px;
            transition: 0.2s;
            &:hover,
            &:focus {
                transform: scale(1.5);
            }
            i {
                color: white;
                font-size: 25px;
            }
        }
    }
    p {
        width: 50%;
        text-align: center;
        margin: auto;
    }
    .pinkButton {
        display: block;
        text-align: center;
        width: 120px;
        margin: 20px auto;
    }
    
}
