html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.homeHeader {
  background-image: url(../assets/pexels-oleksandr-tiupa-192136.jpg);
  background-size: cover;
  height: 60vh;
  margin-bottom: 90px;
}
.homeHeader h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 10px;
}
.homeHeader h3 {
  color: white;
  font-weight: 300;
  text-align: center;
}
.homeHeader .pinkButton {
  display: block;
  text-align: center;
  width: 120px;
  margin: 20px auto;
}
.homeHeader .headerNavbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
  margin: auto;
}
.homeHeader .headerNavbar ul li {
  padding: 20px 0;
  color: white;
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.pinkButton {
  background-color: rgb(210, 156, 154);
  padding: 10px 15px;
  margin: 15px 10px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.aboutMeArticle img {
  border-radius: 50%;
  margin: auto;
  display: block;
  height: 150px;
  width: 150px;
}
.aboutMeArticle h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  padding-bottom: 20px;
}
.aboutMeArticle p {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
  font-family: "Lora", serif;
  font-weight: 400;
}

.skills {
  background-color: rgb(63, 91, 72);
}
.skills h3 {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 60px;
  font-size: 40px;
  padding-bottom: 20px;
  margin-top: 80px;
}
.skills .skillsFlex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding-bottom: 50px;
}
.skills .skillsFlex ul li {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  width: 25%;
  min-width: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills .skillsFlex ul li i {
  color: white;
  font-size: 80px;
  padding-bottom: 20px;
}

.projectShowcase {
  background-color: rgb(247, 244, 243);
}
.projectShowcase h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 60px;
  font-size: 40px;
  padding-bottom: 40px;
}
.projectShowcase .projectGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}
.projectShowcase .projectGallery .items {
  width: 35%;
  background-color: white;
  margin: 20px;
  padding: 20px;
}
.projectShowcase .projectGallery .items img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projectShowcase .projectGallery .items h4 {
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}
.projectShowcase .projectGallery .items h5 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: rgb(63, 91, 72);
  padding-bottom: 14px;
}
.projectShowcase .projectGallery .items p {
  font-size: 14px;
}
.projectShowcase .projectGallery .items .projectButtonFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projectShowcase .projectGallery .items .projectButtonFlex a {
  background-color: rgb(210, 156, 154);
  padding: 10px 15px;
  margin: 15px 10px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.contactArticle {
  background-color: rgb(186, 201, 166);
  padding-bottom: 30px;
}
.contactArticle h2 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 10px;
}
.contactArticle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contactArticle ul li {
  padding: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contactArticle ul li:hover, .contactArticle ul li:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.contactArticle ul li i {
  color: white;
  font-size: 25px;
}
.contactArticle p {
  width: 50%;
  text-align: center;
  margin: auto;
}
.contactArticle .pinkButton {
  display: block;
  text-align: center;
  width: 120px;
  margin: 20px auto;
}

footer {
  background-color: rgb(63, 91, 72);
}
footer p {
  text-align: center;
  font-family: "Lora", serif;
  padding: 10px 0;
  color: white;
}

@media (max-width: 1400px) {
  .skills .skillsFlex ul {
    max-width: 60%;
  }
}
@media (max-width: 550px) {
  .projectGallery .items {
    min-width: 75%;
  }
}